In [2]:
import pandas as pd
import numpy as np

In [3]:
# dictionaries to hold yearly data
dfs_raw = {}
dfs_clean = {}

Source of data: [Slovenská správa ciest](https://www.cdb.sk/sk/statisticke-vystupy.alej)

In [4]:
dfs_raw[2012] = pd.read_csv('./Data_raw/co_mosty_k_01012012.csv',
                            sep=';',
                            encoding='cp1250')

dfs_raw[2013] = pd.read_csv('./Data_raw/co_mosty_k_01012013.csv',
                            sep=';',
                            encoding='cp1250')

dfs_raw[2014] = pd.read_csv('./Data_raw/co_mosty_k_01012014.csv',
                            sep=';',
                            encoding='cp1250')

dfs_raw[2015] = pd.read_csv('./Data_raw/co_pocty_most-01-01-2015.csv',
                            sep=';',
                            encoding='cp1250')

dfs_raw[2016] = pd.read_csv('./Data_raw/co_most_dc_sr_2016-01-01.csv',
                            sep=';',
                            encoding='cp1250')

dfs_raw[2017] = pd.read_csv('./Data_raw/co_most-dc_2017-01-01_sr.csv',
                            sep=';',
                            encoding='cp1250')

dfs_raw[2018] = pd.read_csv('./Data_raw/co_most_dc_sr_2018-01-01.csv',
                            sep=';',
                            encoding='cp1250')

dfs_raw[2019] = pd.read_csv('./Data_raw/co_most_dc_2019-01-01.csv',
                            sep=';',
                            encoding='cp1250')

dfs_raw[2020] = pd.read_csv('./Data_raw/co_most_dc_2020-01-01.csv',
                            sep=';',
                            encoding='cp1250')

dfs_raw[2021] = pd.read_csv('./Data_raw/sr_co_most_dc_2021-01-01.csv',
                            sep=';',
                            encoding='cp1250')

dfs_raw[2022] = pd.read_csv('./Data_raw/sr_co_mosty-dc_zoznam_2022-01-01.csv',
                            sep=';',
                            encoding='cp1250')

dfs_raw[2023] = pd.read_csv('./Data_raw/sr_co_mostydc_reportpk_2023-01-01.csv',
                            sep=';',
                            encoding='cp1250')

### Cleaning dataframes

In [5]:
# 'global' variables

dict_stav_slovom_na_kod = {
    'Bezchybný':1,
    "Veľmi dobrý":2,
    "Dobrý":3,
    "Uspokojivý":4,
    "Zlý":5,
    "Veľmi zlý":6,
    "Havarijný":7,
    "Neznámy":-1
}

#### 2012

In [6]:
df = dfs_raw[2012][
        ['Trieda CK', 'číslo CK', 'evidenčné číslo - staré',
         'ID číslo mostu',
         'stavebný stav', 
         'LongitudeE', 'LatitudeN']
    ].copy()

df.columns = ['ck_trieda', 'ck_cislo', 'spravcovske_cislo',
              'ID_most', 
              'stav_slovom', 
              'lon', 'lat']

# stav
df['stav_slovom'] =  df['stav_slovom'].replace(np.nan, 'Neznámy')
# technical condition code
df['stav_kod'] = df['stav_slovom'].apply(lambda x: dict_stav_slovom_na_kod[x])

df['rok_postavenia'] = np.nan

# clean road category values
df['ck_trieda'] = df['ck_trieda'].replace(
        {
            'diaľnica':'Diaľnica',
            'rýchlostná cesta':'Diaľnica',
            'privádzač diaľničný':'Diaľnica',
            'privádzač rýchlostn*':'Diaľnica',            
            'cesta I. triedy':'Cesta I. triedy',
            'cesta II. triedy':'Cesta II. triedy',
            'cesta III. triedy':'Cesta III. triedy',
            'miestna komunikácia*':'Miestna cesta'
        }
    )

df['rok_data'] = 2012

# save to clean dict
dfs_clean[2012] = df.copy()
del df

#### 2013

In [7]:
df = dfs_raw[2013][
        ['Trieda CK', 'Číslo CK', 'Evidenčné číslo mosta',
         'Identifikačné číslo mosta', 'Rok postavenia',
         'Stavebný stav', 
         'LongitudeE', 'LatitudeN']
    ].copy()


df.columns = ['ck_trieda', 'ck_cislo', 'spravcovske_cislo',
              'ID_most', 'rok_postavenia',
              'stav_slovom', 
              'lon', 'lat']

# stav
df['stav_slovom'] =  df['stav_slovom'].replace(np.nan, 'Neznámy')
# technical condition code
df['stav_kod'] = df['stav_slovom'].apply(lambda x: dict_stav_slovom_na_kod[x])

# clean road category values
df['ck_trieda'] = df['ck_trieda'].replace(
        {
            'diaľnica':'Diaľnica',
            'privádzač diaľničný':'Diaľnica',
            'rýchlostná cesta':'Diaľnica',
            'privádzač rýchlostnej cesty':'Diaľnica',            
            'cesta I. triedy':'Cesta I. triedy',
            'cesta II. triedy':'Cesta II. triedy',
            'cesta III. triedy':'Cesta III. triedy',
            'miestna komunikácia obslužná':'Miestna cesta',
            'miestna komunikácia všeobecná':'Miestna cesta',
            'miestna komunikácia zberná':'Miestna cesta'
        }
    )

df['rok_data'] = 2013

# save to clean dict
dfs_clean[2013] = df.copy()
del df

#### 2014

In [8]:
df = dfs_raw[2014][
        ['Trieda CK', 'Číslo CK', 'Evidenčné číslo mosta',
         'Identifikačné číslo mosta', 'Rok postavenia',
         'Stavebný stav', 
         'LongitudeE', 'LatitudeN']
    ].copy()


df.columns = ['ck_trieda', 'ck_cislo', 'spravcovske_cislo',
              'ID_most', 'rok_postavenia',
              'stav_slovom', 
              'lon', 'lat']

# stav
df['stav_slovom'] =  df['stav_slovom'].replace(np.nan, 'Neznámy')
# technical condition code
df['stav_kod'] = df['stav_slovom'].apply(lambda x: dict_stav_slovom_na_kod[x])

# clean road category values
df['ck_trieda'] = df['ck_trieda'].replace(
        {
            'diaľnica':'Diaľnica',
            'privádzač diaľničný':'Diaľnica',
            'rýchlostná cesta':'Diaľnica',
            'privádzač rýchlostnej cesty':'Diaľnica',            
            'cesta I. triedy':'Cesta I. triedy',
            'cesta II. triedy':'Cesta II. triedy',
            'cesta III. triedy':'Cesta III. triedy',
            'miestna komunikácia obslužná':'Miestna cesta',
            'miestna komunikácia všeobecná':'Miestna cesta',
            'miestna komunikácia zberná':'Miestna cesta'
        }
    )

df['rok_data'] = 2014

# save to clean dict
dfs_clean[2014] = df.copy()
del df

#### 2015

In [9]:
df = dfs_raw[2015][
        ['Trieda CK', 'Číslo CK', 'Evidenčné číslo mosta',
         'Identifikačné číslo mosta', 'Rok postavenia',
         'Stavebný stav', 
         'LongitudeE', 'LatitudeN']
    ].copy()

df.columns = ['ck_trieda', 'ck_cislo', 'spravcovske_cislo',
              'ID_most', 'rok_postavenia',
              'stav_slovom', 
              'lon', 'lat']

# stav
df['stav_slovom'] =  df['stav_slovom'].replace(np.nan, 'Neznámy')
# technical condition code
df['stav_kod'] = df['stav_slovom'].apply(lambda x: dict_stav_slovom_na_kod[x])

# clean road category values
df['ck_trieda'] = df['ck_trieda'].replace(
        {
            'diaľnica':'Diaľnica',
            'privádzač diaľničný':'Diaľnica',
            'rýchlostná cesta':'Diaľnica',
            'privádzač rýchlostnej cesty':'Diaľnica',            
            'cesta I. triedy':'Cesta I. triedy',
            'cesta II. triedy':'Cesta II. triedy',
            'cesta III. triedy':'Cesta III. triedy',
            'miestna komunikácia':'Miestna cesta'
        }
    )

df['rok_data'] = 2015

# save to clean dict
dfs_clean[2015] = df.copy()
del df

#### 2016

In [10]:
df = dfs_raw[2016][
        ['Trieda CK', 'Číslo CK', 'Evidenčné číslo mosta',
         'Identifikačné číslo mosta', 'Rok postavenia',
         'Stavebný stav', 
         'LongitudeE', 'LatitudeN']
    ].copy()

df.columns = ['ck_trieda', 'ck_cislo', 'spravcovske_cislo',
              'ID_most', 'rok_postavenia', 
              'stav_slovom', 
              'lon', 'lat']

# treat unknown
df['stav_slovom'] = df['stav_slovom'].replace(np.nan, 'Neznámy')
# technical condition code
df['stav_kod'] = df['stav_slovom'].apply(lambda x: dict_stav_slovom_na_kod[x])

# clean road category values
df['ck_trieda'] = df['ck_trieda'].replace(
        {
            'diaľnica':'Diaľnica',
            'privádzač diaľničný':'Diaľnica',
            'rýchlostná cesta':'Diaľnica',
            'privádzač rýchlostnej cesty':'Diaľnica',            
            'cesta I. triedy':'Cesta I. triedy',
            'cesta II. triedy':'Cesta II. triedy',
            'cesta III. triedy':'Cesta III. triedy',
            'miestna komunikácia obslužná':'Miestna cesta',
            'miestna komunikácia všeobecná':'Miestna cesta',
            'miestna komunikácia zberná':'Miestna cesta'
        }
    )

df['rok_data'] = 2016

# save to clean dict
dfs_clean[2016] = df.copy()
del df

#### 2017

In [11]:
df = dfs_raw[2017][
        ['Trieda CK', 'Číslo CK', 'Evidenčné číslo mosta',
         'Identifikačné číslo mosta', 'Rok postavenia',
         'Stavebný stav', 
         'LongitudeE', 'LatitudeN']
    ].copy()

df.columns = ['ck_trieda', 'ck_cislo', 'spravcovske_cislo',
              'ID_most', 'rok_postavenia', 
              'stav_slovom', 
              'lon', 'lat']

# treat unknown
df['stav_slovom'] = df['stav_slovom'].replace(np.nan, 'Neznámy')
# technical condition code
df['stav_kod'] = df['stav_slovom'].apply(lambda x: dict_stav_slovom_na_kod[x])

# clean road category values
df['ck_trieda'] = df['ck_trieda'].replace(
        {
            'diaľnica':'Diaľnica',
            'privádzač diaľničný':'Diaľnica',
            'rýchlostná cesta':'Diaľnica',
            'privádzač rýchlostnej cesty':'Diaľnica',            
            'cesta I. triedy':'Cesta I. triedy',
            'cesta II. triedy':'Cesta II. triedy',
            'cesta III. triedy':'Cesta III. triedy',
            'miestna komunikácia obslužná':'Miestna cesta',
            'miestna komunikácia všeobecná':'Miestna cesta',
            'miestna komunikácia zberná':'Miestna cesta'
        }
    )

df['rok_data'] = 2017
df = df.dropna(subset='ck_trieda')

# save to clean dict
dfs_clean[2017] = df.copy()
del df

#### 2018

In [12]:
df = dfs_raw[2018][
        ['Trieda cesty', 'Číslo cesty', 'Správcovské číslo mostu',
         'Identifikačné číslo mostu', 'rok postavenia',
         'Stavebný stav', 'stavebný stav - kód', 
         'LongitudeE', 'LatitudeN']
    ].copy()

df.columns = ['ck_trieda', 'ck_cislo', 'spravcovske_cislo',
              'ID_most', 'rok_postavenia', 
              'stav_slovom', 'stav_kod', 
              'lon', 'lat']

# treat unknown
df['stav_slovom'] = df['stav_slovom'].replace(np.nan, 'Neznámy')

# treat unknown
df['stav_kod'] = df['stav_kod'].replace(np.nan, -1)

# clean road category values
df['ck_trieda'] = df['ck_trieda'].replace(
        {
            'diaľnica':'Diaľnica',
            'privádzač diaľničný':'Diaľnica',
            'rýchlostná cesta':'Diaľnica',
            'privádzač rýchlostnej cesty':'Diaľnica',            
            'cesta I. triedy':'Cesta I. triedy',
            'cesta II. triedy':'Cesta II. triedy',
            'cesta III. triedy':'Cesta III. triedy',
            'miestna komunikácia obslužná':'Miestna cesta',
            'miestna komunikácia všeobecná':'Miestna cesta',
            'miestna komunikácia zberná':'Miestna cesta'
        }
    )

df['rok_data'] = 2018

# save to clean dict
dfs_clean[2018] = df.copy()
del df

#### 2019

In [13]:
df = dfs_raw[2019][
        ['Trieda cesty', 'Číslo cesty', 'Správcovské číslo mostu',
         'Identifikačné číslo mostu', 'rok postavenia',
         'Stavebný stav', 'stavebný stav - kód', 
         'LongitudeE', 'LatitudeN']
    ].copy()

df.columns = ['ck_trieda', 'ck_cislo', 'spravcovske_cislo',
              'ID_most', 'rok_postavenia', 
              'stav_slovom', 'stav_kod', 
              'lon', 'lat']

# treat unknown
df['stav_slovom'] = df['stav_slovom'].replace(np.nan, 'Neznámy')

# treat unknown
df['stav_kod'] = df['stav_kod'].replace(np.nan, -1)

# clean road category values
df['ck_trieda'] = df['ck_trieda'].replace(
        {
            'diaľnica':'Diaľnica',
            'privádzač diaľničný':'Diaľnica',
            'rýchlostná cesta':'Diaľnica',
            'privádzač rýchlostnej cesty':'Diaľnica',            
            'cesta I. triedy':'Cesta I. triedy',
            'cesta II. triedy':'Cesta II. triedy',
            'cesta III. triedy':'Cesta III. triedy',
            'miestna komunikácia obslužná':'Miestna cesta',
            'miestna komunikácia neurčená':'Miestna cesta',
            'miestna komunikácia zberná':'Miestna cesta'
        }
    )

df['rok_data'] = 2019

# save to clean dict
dfs_clean[2019] = df.copy()
del df

#### 2020

In [14]:
df = dfs_raw[2020][
        ['Trieda cesty', 'Číslo cesty', 'Správcovské číslo mostu',
         'Identifikačné číslo mostu', 'rok postavenia',
         'Stavebný stav', 'stavebný stav - kód', 
         'LongitudeE', 'LatitudeN']
    ].copy()

df.columns = ['ck_trieda', 'ck_cislo', 'spravcovske_cislo',
              'ID_most', 'rok_postavenia', 
              'stav_slovom', 'stav_kod', 
              'lon', 'lat']

# treat unknown
df['stav_slovom'] = df['stav_slovom'].replace(np.nan, 'Neznámy')

# treat unknown
df['stav_kod'] = df['stav_kod'].replace(np.nan, -1)

# clean road category values
df['ck_trieda'] = df['ck_trieda'].replace(
        {
            'diaľnica':'Diaľnica',
            'privádzač diaľničný':'Diaľnica',
            'rýchlostná cesta':'Diaľnica',
            'cesta I. triedy':'Cesta I. triedy',
            'cesta II. triedy':'Cesta II. triedy',
            'II. trieda - miestna zberná (MZ)':'Cesta II. triedy',
            'cesta III. triedy':'Cesta III. triedy',
            'III. trieda - miestna obslužná (MO)':'Cesta III. triedy',
            'miestna neurčená':'Miestna cesta'
        }
    )

df['rok_data'] = 2020

# save to clean dict
dfs_clean[2020] = df.copy()
del df


#### 2021

In [15]:
df = dfs_raw[2021][
        ['Trieda cesty', 'Číslo cesty', 'Správcovské číslo mostu',
         'Identifikačné číslo mostu', 'rok postavenia', 
         'stavebný stav - kód', 'Stavebný stav', 
         'LongitudeE', 'LatitudeN']
    ].copy()

# rename columns
df.columns = ['ck_trieda', 'ck_cislo', 'spravcovske_cislo',
              'ID_most', 'rok_postavenia', 
              'stav_kod', 'stav_slovom', 
              'lon', 'lat']

# treat unknown values
df['stav_kod'] = df['stav_kod'].replace(np.nan, -1)
df['stav_kod'] = df['stav_kod'].astype(int)
df = df.sort_values(by='stav_kod', ascending=True)
df['stav_kod'] = df['stav_kod'].astype(str)

df['stav_slovom'] =  df['stav_slovom'].replace(np.nan, 'Neznámy')

# clean road category values
df['ck_trieda'] = df['ck_trieda'].replace(
        {
            'diaľnica':'Diaľnica',
            'privádzač diaľničný':'Diaľnica',
            'cesta I. triedy':'Cesta I. triedy',
            'cesta II. triedy':'Cesta II. triedy',
            'II. trieda - miestna zberná (MZ)':'Cesta II. triedy',
            'cesta III. triedy':'Cesta III. triedy',
            'III. trieda - miestna obslužná (MO)':'Cesta III. triedy',
            'miestna neurčená':'Miestna cesta'
        }
    )

df['rok_data'] = 2021

# save to clean dict
dfs_clean[2021] = df.copy()
del df

#### 2022

In [16]:
dfs_raw[2022]['Most /DC'].unique()

df = dfs_raw[2022][
        ['Trieda PK', 'Číslo PK', 'správcovské číslo',
         'ID mosta', 'ID DC', 'Rok postavenia', 
         'Stavebno-technický stav', 
         'Longitude', 'Latitude', 'Most /DC']
    ]

df.columns = ['ck_trieda', 'ck_cislo', 'spravcovske_cislo',
              'ID_most', 'ID_dc', 'rok_postavenia', 
              'stav_slovom', 
              'lon', 'lat', 'typ_udaju']
    

# split into bridges and bridge units
df_m = df[df['typ_udaju']=='Most'].copy()
df_dc = df[df['typ_udaju']=='Dilatačný celok'].copy()

# assign bridge ID to brige unit
df_dc['ID_most'] = df_dc['ID_dc'].apply(lambda x: x.split('.')[0])

# merge data
df = pd.merge(
        df_m[['ck_trieda', 'ck_cislo', 'spravcovske_cislo', 'rok_postavenia', 'ID_most']],
        df_dc[['ID_most', 'stav_slovom', 'lon', 'lat']].drop_duplicates(),
        how='left',
        on='ID_most'
    )

# treat unknown
df['stav_slovom'] = df['stav_slovom'].replace(np.nan, 'Neznámy')

# clean road category values
df['ck_trieda'] = df['ck_trieda'].replace(
        {
            'diaľnica':'Diaľnica',
            'cesta I. triedy':'Cesta I. triedy',
            'cesta II. triedy':'Cesta II. triedy',
            'II. trieda - miestna zberná (MZ)':'Cesta II. triedy',
            'cesta III. triedy':'Cesta III. triedy',
            'III. trieda - miestna obslužná (MO)':'Cesta III. triedy',
            'miestna neurčená':'Miestna cesta',
            'účelová cesta (UK)':'Miestna cesta'
        }
    )

# year to int
df['rok_postavenia'] = df['rok_postavenia'].astype(int)

# technical condition code
df['stav_kod'] = df['stav_slovom'].apply(lambda x: dict_stav_slovom_na_kod[x])

df['rok_data'] = 2022

# save to clean dict
dfs_clean[2022] = df.copy()
del df

#### 2023

In [19]:
df = dfs_raw[2023][
        ['Trieda PK', 'Číslo PK', 'správcovské číslo',
         'ID mosta', 'ID DC', 'Rok postavenia', 
         'Stavebno-technický stav', 
         'Longitude', 'Latitude', 'Most /DC']
    ]

df.columns = ['ck_trieda', 'ck_cislo', 'spravcovske_cislo',
              'ID_most', 'ID_dc', 'rok_postavenia', 
              'stav_slovom', 
              'lon', 'lat', 'typ_udaju']
    

# split into bridges and bridge units
df_m = df[df['typ_udaju']=='Most'].copy()
df_dc = df[df['typ_udaju']=='Dilatačný celok'].copy()

# assign bridge ID to brige unit
df_dc['ID_most'] = df_dc['ID_dc'].apply(lambda x: x.split('.')[0])

# merge data
df = pd.merge(
        df_m[['ck_trieda', 'ck_cislo', 'spravcovske_cislo', 'rok_postavenia', 'ID_most']],
        df_dc[['ID_most', 'stav_slovom', 'lon', 'lat']].drop_duplicates(),
        how='left',
        on='ID_most'
    )

# treat unknown
df['stav_slovom'] = df['stav_slovom'].replace(np.nan, 'Neznámy')

# clean road category values
df['ck_trieda'] = df['ck_trieda'].replace(
        {
            'diaľnica':'Diaľnica',
            'cesta I. triedy':'Cesta I. triedy',
            'cesta II. triedy':'Cesta II. triedy',
            'II. trieda - miestna zberná (MZ)':'Cesta II. triedy',
            'cesta III. triedy':'Cesta III. triedy',
            'III. trieda - miestna obslužná (MO)':'Cesta III. triedy',
            'miestna neurčená':'Miestna cesta',
            'účelová cesta (UK)':'Miestna cesta'
        }
    )

# year to int
df['rok_postavenia'] = df['rok_postavenia'].astype(int)

# technical condition code
df['stav_kod'] = df['stav_slovom'].apply(lambda x: dict_stav_slovom_na_kod[x])

df['rok_data'] = 2023

# save to clean dict
dfs_clean[2023] = df.copy()
del df

### Join dataframes

In [20]:
df_all = pd.concat(dfs_clean.values(), ignore_index=True)

In [21]:
df_all[df_all.duplicated(subset=['ID_most', 'rok_data'], keep=False)].sort_values('ID_most')

,ck_trieda,ck_cislo,spravcovske_cislo,ID_most,stav_slovom,lon,lat,stav_kod,rok_postavenia,rok_data
98515,Diaľnica,R7,R7-007,M10020,Neznámy,17.18592,48.09029,-1,2019.0,2023
98514,Diaľnica,R7,R7-007,M10020,Neznámy,17.18592,48.09029,-1,2019.0,2023
89257,Diaľnica,R7,R7-007,M10020,Neznámy,17.18592,48.09029,-1,2019.0,2022
89256,Diaľnica,R7,R7-007,M10020,Neznámy,17.18592,48.09029,-1,2019.0,2022
81155,Cesta I. triedy,63,NaN,M10026,Neznámy,17.22453,48.11035,-1,2019.0,2022
...,...,...,...,...,...,...,...,...,...,...
98405,Diaľnica,R2,SO 221,M9971,Neznámy,19.60734,48.40952,-1,2022.0,2023
98404,Diaľnica,R2,SO 222,M9972,Neznámy,19.61739,48.40156,-1,2022.0,2023
98401,Diaľnica,R2,SO 222,M9972,Neznámy,19.61739,48.40156,-1,2022.0,2023
98403,Diaľnica,R2,SO 223,M9973,Neznámy,19.62522,48.39383,-1,2022.0,2023
98402,Diaľnica,R2,SO 223,M9973,Neznámy,19.62522,48.39383,-1,2022.0,2023

In [22]:
df_all = df_all.drop_duplicates(subset=['ID_most', 'rok_data'])

In [23]:
df_all.to_csv('../Data/sr_mosty_all.csv', sep=',', encoding='utf-8')

In [24]:
df_all

,ck_trieda,ck_cislo,spravcovske_cislo,ID_most,stav_slovom,lon,lat,stav_kod,rok_postavenia,rok_data
0,Cesta I. triedy,000002,002,M5897,Dobrý,17.123319,48.790152,3,NaN,2012
1,Cesta I. triedy,000002,003,M1979,Dobrý,17.079098,48.757287,3,NaN,2012
2,Cesta I. triedy,000002,004,M6525,Uspokojivý,17.031675,48.684515,4,NaN,2012
3,Cesta I. triedy,000002,005,M4584,Dobrý,17.020574,48.663688,3,NaN,2012
4,Cesta I. triedy,000002,006,M3053,Dobrý,17.001659,48.639120,3,NaN,2012
...,...,...,...,...,...,...,...,...,...,...
98554,Miestna cesta,MK,M 171,M2493,Neznámy,17.200027,48.190201,-1,2002.0,2023
98555,Miestna cesta,MK,003,M3413,Bezchybný,19.301420,49.307730,1,1971.0,2023
98556,účelová cesta (UC),UK,005,M6329,Bezchybný,18.832590,49.206580,1,2006.0,2023
98557,účelová cesta (UC),UK,004,M83,Bezchybný,18.827060,49.208220,1,2006.0,2023
98558,účelová cesta (UC),UK,003,M6982,Bezchybný,18.825870,49.208570,1,2006.0,2023